html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #140f2e;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
